html, body {
  height: 100%;
}
body {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}
a, a:visited, a:hover, a:active {
  color: #fff;
  text-decoration: none;
}
.App {
  background-color: #4e4e4e;
  background-image: linear-gradient(160deg, #4e4e4e 0%, #292929 100%);
  width: 600px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, .15);
  animation: pop 0.55s;
  position: relative;
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  color: #ccc;
}
.App > span {
  display: inline-block;
  margin: 5px 10px;
}
.App__dashboard {
  margin-bottom: 25px;
}
.App__dashboard-watcher {
  background: #fff;
  height: 100px;
  width: 100px;
  display: inline-block;
  padding: 15px 10px;
  box-sizing: border-box;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, .15);
  color: #111;
  transition: transform 0.3s;
  margin: 5px 10px;
  overflow: hidden;
  color: #fff;
  position: relative;
}
.App__dashboard-watcher h1, .App__dashboard-watcher h2, .App__dashboard-watcher .indicator, .App__dashboard-watcher .change {
  z-index: 10;
  position: relative;
}
.App__dashboard-watcher h1 {
  font-family: 'Miriam Libre', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
}
.App__dashboard-watcher .chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.App__dashboard-watcher .change {
  font-size: 14px;
}
.App__dashboard-watcher .indicator {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.5em 0.5em 0.5em;
  border-color: transparent transparent #111 transparent;
  display: inline-block;
  margin-top: 15px;
  margin-right: 10px;
}
.App__dashboard-watcher:hover {
  transform: scale(1.1);
}
.App__dashboard-watcher.lost {
  background-color: #f55d5d;
  background-image: linear-gradient(45deg, #f55d5d 0%, #de4e38 100%);
}
.App__dashboard-watcher.lost .indicator {
  border-width: 0.5em 0.5em 0 0.5em;
  border-color: #fff transparent transparent transparent;
}
.App__dashboard-watcher.gain {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  color: #111;
}
@keyframes pop {
  0% {
    transform: scale(0.8);
 }
  80% {
    transform: scale(1.1);
 }
  90% {
    transform: scale(0.95);
 }
  100% {
    transform: scale(1);
 }
}
